<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trello</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="aulaStyle.css">
</head>

<body ng-app="Trello" ng-controller="TrelloController">
    <h1>{{title}}</h1>
    <div id="t">
        <div class="to-do tarefas" ng-app="Trello">
            <h2>To Do</h2>
            <ul ng-repeat="item in toDo track by $index">
                <div>
                    <li ng-show="!item.edit" draggable="true">
                        {{item.description}}
                    </li>
                    <textarea type="text" ng-model="editToDo" ng-show="item.edit" class="boxEdit">
                        {{item.description}}
                    </textarea>
                    <a href="#" ng-click='exclude(item, 1)' class="btn btn-danger btnOptions" ng-show="!edit.item">
                        Excluir
                    </a>
                    <a href="#" ng-click="edit(item, editToDo, 1)" class="btn btn-info btnOptions"
                        ng-show="!item.edit">
                        Editar
                    </a>
                    <a href="#" ng-click="edit(item, editToDo, 1)" class="btn btn-info btnOptions"
                        ng-show="item.edit">
                        Confirmar
                    </a>
                    <a href="#" ng-click="start(item)" class="btn btn-primary btnOptions"
                        ng-show="!item.edit">
                        Iniciar
                    </a>
                    <a href="#" ng-click="drop(item, 1)" class="btn btn-warning btnOptions"
                        ng-show="!item.edit">
                        Cancelar
                    </a>
                </div>
            </ul>
            <a>
                <textarea type="text" ng-model="toDoItem" placeholder="Adicionar item"></textarea>
            </a>
            <button id="botao1" class="btnAdicionar btn btn-success" ng-click="add(toDoItem, 1)">Adicionar</button>
        </div>

        <div class="doing tarefas">
            <h2>Doing</h2>
            <ul ng-repeat="item in doing track by $index" droppable="true">
                <div>
                    <li ng-show="!item.edit" draggable="true">
                        {{item.description}}
                    </li>
                    <textarea type="text" ng-model="editDoing" ng-show="item.edit" class="boxEdit">
                                {{item.description}}
                            </textarea>
                    <a href="#" ng-click='exclude(item, 2)' class="btn btn-danger btnOptions" ng-show="!item.edit">
                        Excluir
                    </a>
                    <a href="#" ng-click="edit(item, itemDoing, 2)" class="btn btn-info btnOptions"
                        ng-show="!item.edit">
                        Editar
                    </a>
                    <a href="#" ng-click="edit(item, editDoing, 2)" class="btn btn-info btnOptions"
                        ng-show="item.edit">
                        Confirmar
                    </a>
                    <a href="#" ng-click="finish(item)" class="btn btn-primary btnOptions"
                        ng-show="!item.edit">
                        Finalizar
                    </a>
                    <a href="#" ng-click="drop(item, 2)" class="btn btn-warning btnOptions"
                        ng-show="!item.edit">
                        Cancelar
                    </a>
                    <a href="#" ng-click="goBack(item, 1)" class="btn btn-default btnOptions"
                        ng-show="!item.edit">
                        Retroceder
                    </a>
                </div>
            </ul>
            <a>
                <textarea type="text" ng-model="doingItem" placeholder="Adicionar item"></textarea>
            </a>
            <button id="botao2" class="btnAdicionar btn btn-success" ng-click="add(doingItem, 2)">Adicionar</button>
        </div>

        <div class="done tarefas">
            <h2>Done</h2>
            <ul ng-repeat="item in done track by $index">
                <div>
                    <li ng-show="!item.edit" draggable="true">
                        {{item.description}}
                    </li>
                    <textarea type="text" ng-model="editDone" ng-show="item.edit" class="boxEdit">
                                {{item.description}}
                            </textarea>
                    <a href="#" ng-click='exclude(item, 3)' class="btn btn-danger btnOptions">
                        Excluir
                    </a>
                    <a href="#" ng-click="edit(item, editDone, 3)" class="btn btn-info btnOptions"
                        ng-show="!item.edit">
                        Editar
                    </a>
                    <a href="#" ng-click="edit(item, editDone, 3)" class="btn btn-info btnOptions"
                        ng-show="item.edit">
                        Confirmar
                    </a>
                    <a href="#" ng-click="goBack(item, 2)" class="btn btn-default btnOptions"
                        ng-show="!item.edit">
                        Retroceder
                    </a>
                </div>
            </ul>
            <a>
                <textarea type="text" ng-model="doneItem" placeholder="Adicionar item"></textarea>
            </a>
            <button id="botao3" class="btnAdicionar btn btn-success" ng-click="add(doneItem, 3)">Adicionar</button>
        </div>

        <div class="done tarefas">
            <h2>Dropped</h2>
            <ul ng-repeat="item in dropped track by $index">
                <div>
                    <li ng-show="!item.edit" draggable="true">
                        {{item.description}}
                    </li>
                    <textarea type="text" ng-model="editDropped" ng-show="item.edit" class="boxEdit">
                                {{item.description}}
                            </textarea>
                    <a href="#" ng-click='exclude(item, 4)' class="btn btn-danger btnOptions">
                        Excluir
                    </a>
                    <a href="#" ng-click="edit(item, editDropped, 4)" class="btn btn-info btnOptions"
                        ng-show="!item.edit">
                        Editar
                    </a>
                    <a href="#" ng-click="edit(item, editDropped, 4)" class="btn btn-info btnOptions"
                        ng-show="item.edit">
                        Confirmar
                    </a>
                    <a href="#" ng-click="reset(item)" class="btn btn-primary btnOptions" ng-show="!item.edit">
                        Reiniciar
                    </a>

                </div>
            </ul>
            <a>
                <textarea type="text" ng-model="droppedItem" placeholder="Adicionar item"></textarea>
            </a>
            <button id="botao4" class="btnAdicionar btn btn-success" ng-click="add(droppedItem, 4)">Adicionar</button>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
<script src="app.js"></script>

</html>