body{
    background-color:  #5BA4CF;
    margin: 0px;
    font-family: Times;
}

.tarefas{
    width: 365px;
    background-color: #EDEFF0;
    border-radius: 10px;
    display: inline-block;
    margin: 1.5% 1%;
}

#t{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1{
    color: #5BA4CF;
    background-color:  #055A8C;
    background-position: 100%;  
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    width: 100%;
    position: relative;     
}

h2{
    padding-left: 10px;
}

ul{
    padding-left: 20px;
    list-style-type: none; 
}

textarea{
    min-width: 85%;
    max-width: 85%;
    margin: 10px auto;
    margin-top: 0px;
    margin-left: 8%;
}

li{
    background-color: white;
    color: black;
    padding: 1.5%;
    border: 3px gray;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 8%;
    margin-bottom: 3%;
    box-shadow: 0px 0px 10px;
    word-wrap: break-word;
    width: 90%;
}

.btnAdicionar{
    margin-left: 8%;
    margin-bottom: 10px;
}

.btn-danger{
    margin-left: 3%;
}
.btnOptions{
    padding : 5px;
}
.boxEdit{
    margin-left: 3%;
    margin-top: 3%;
    min-width: 90%;
}
